{% load fb_versions %}
{% load url from future %}
<input id="{{ final_attrs.id }}" type="text" class="vFileBrowseField" name="{{ final_attrs.name }}" value="{{ value }}" />
<input type="hidden" class="fb_directory" name="directory" value="{% url 'fb_browse' %}?pop=1{% if final_attrs.directory %}&amp;dir={{ final_attrs.directory }}{% endif %}" />
<input type="hidden" class="fb_crop_directory" name="crop_directory" value="{% url 'fb_crop' %}?pop=1&amp;dir={{ final_attrs.directory }}&amp;filename={{ value.filename }}" />
<input type="hidden" class="fb_type" name="type" value="{% if final_attrs.format %}{{ final_attrs.format }}{% endif %}" />
<a href="" class="fb_show">
    Choose file ...
    <!-- <img src="{{ final_attrs.search_icon }}" alt="" /> -->
</a>
{% ifequal value.filetype "Image" %}
<a href="" id="crop_{{ final_attrs.id }}" class="fb_crop_show">
   Crop image ...
</a>
<p class="help" id="help_{{ final_attrs.id }}">
    <a id="crop_{{ final_attrs.id }}" class="fb_crop_show">
        <img id="image_{{ final_attrs.id }}" src="{% version value.path final_attrs.ADMIN_THUMBNAIL %}" class="preview" />
    </a>
</p>
{% else %}
<a id="crop_{{ final_attrs.id }}" href="" class="fb_crop_show">
</a>
<p class="help" id="help_{{ final_attrs.id }}" style="display: none;">
    <a class="fb_show">
        <img id="image_{{ final_attrs.id }}" class="preview" src="" />
    </a>
</p>
{% endifequal %}
{% if final_attrs.DEBUG %}
<p>
    <strong>Path</strong> {{ value.path }}<br />
    <strong>FileType</strong> {{ value.filetype }}<br /><br />
    <strong>Directory</strong> {{ final_attrs.directory }}<br />
    <strong>Extensions</strong> {{ final_attrs.extensions }}<br />
    <strong>Format</strong> {{ final_attrs.format }}
</p>
{% endif %}
